@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/BebasNeue-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: url('../img/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    
}

h1 {
    font-size: 98px;
    text-transform: uppercase;
    /*letter-spacing: 5px;*/
    color: #fe0130;
}

.logo_img {
    width: 241px;
    height: 157px;
}